$primary-color: #272D2D;
$secondary-color: #7a7c80;
$background-color: #F4F3EE;
$accent-color: #016FB9;

$large-font-size: 5rem;
$medium-font-size: 2rem;
$small-font-size: 1.5rem;

$thick-border-size: 3px;
$thin-border-size: 1px;